ion-title {
  background: linear-gradient(
      to right,
      #6d327c,
      #485da6,
      #00a1ba,
      #00bf98,
      #36c486
    )
    left bottom white no-repeat;
  background-size: 100% 5px;
}

ion-label,
ion-note {
  font-size: 18px !important;
}

.highscores__title {
  color: #00bf98;
  font-weight: 700;
  font-size: 25px;
  padding-left: 10px;
  margin-bottom: 20px;
}
