ion-title {
  background: linear-gradient(
      to right,
      #6d327c,
      #485da6,
      #00a1ba,
      #00bf98,
      #36c486
    )
    left bottom white no-repeat;
  background-size: 100% 5px;
}

.credits__title {
  color: #485da6;
  font-weight: 700;
  font-size: 25px;
}
