.results__scores-cotainer {
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
}

.score__container {
  width: 80px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.score__label {
  font-weight: bold;
}

.score__value {
  font-size: 20px;
  font-weight: 500;
  color: #00bf98;
}

.options__container {
  display: flex;
  justify-content: space-between;
}

.input-username {
  margin-bottom: 25px;
  ion-label {
    color: #485da6;
    font-size: 20px;
    font-weight: bold;
    span {
      color: #b30c0c;
    }
  }
}
